@use '../../../styles/base/mixins' as *;

.card {
    width: 100%;
    padding: 1.5rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s; // Makes the text blurry at the moment
    position: relative;
    overflow: hidden;
    .image {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        figure {
            aspect-ratio: 16 / 9;
            position: relative;
        }
        .code {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            position: absolute;
            bottom: 10px;
            left: 10px;
            p {
                border-radius: 20px;
                padding: 0.6rem 1rem;
                font-size: 1.2rem;
                font-weight: 600;
                color: white;
                cursor: pointer;
                opacity: 0.8;
                transition: all 0.5s; // Makes the text blurry at the moment
                &:hover {
                    opacity: 1;
                }
                &.HTML {
                    background-color: #E34F26;
                }
                &.CSS {
                    background-color: #1572B6;
                }
                &.SCSS {
                    background-color: #CF649A;
                }
                &.Javascript {                
                    background-color: #F7DF1E; 
                    color: black;
                }
                &.JSX {                
                    background-color: #764ABC;
                }
                &.React {
                    background-color: #61DAFB;
                    color: black;
                }
                &.NextJS {
                    background-color: #000000;
                }
                &.Default {
                    background-color: gray;
                }
            }
        }
    }
    h1 {
        margin-top: 1rem;
        font-size: 1.8rem;
        font-weight: 800;
        color: black;
    }
    > p {
        font-size: 1.2rem;
        color: #444;
        line-height: 1.4;
    }
    .date {
        font-size: 1rem;
        color: gray;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
    }
}